# drivers configuration options

# Copyright (c) 2015 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

menu "Device Drivers"

source "drivers/bluetooth/Kconfig"

source "drivers/console/Kconfig"

source "drivers/debug/Kconfig"

source "drivers/serial/Kconfig"

source "drivers/interrupt_controller/Kconfig"

source "drivers/timer/Kconfig"

source "drivers/gpio/Kconfig"

source "drivers/i2c/Kconfig"

source "drivers/flash/Kconfig"

endmenu
