# drivers configuration options

# Copyright (c) 2015 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

menu "Device Drivers"

source "drivers/bluetooth/Kconfig"

source "drivers/console/Kconfig"

source "drivers/serial/Kconfig"

source "drivers/interrupt_controller/Kconfig"

source "drivers/timer/Kconfig"

source "drivers/flash/Kconfig"

config SEGGER_RTT_MAX_NUM_UP_BUFFERS
	int "Maximum number of up-buffers"
	default 3

endmenu
